*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.msgContainer{
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
.mensajeD{
  color:pink;
  font-weight: 900;
}
.mensajeJ{
  color:blue;
  font-weight: 900;
}